<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Detalhes da Vaga</title>
        <link rel="shortcut icon" href="../static/logo.png" type="image/png">
        <link type="text/css" rel="stylesheet" href="../static/my-styles.css">
        <link type="text/css" rel="stylesheet" href="../static/empresa/css/table_detalhes.css">
    </head>
    <body>
        <div class="navbar">
            <img src="../static/logo.png" height="48" style="margin: 0 16px; align-self: center;">
            <h3 style="margin: 0; align-self: center; margin-right: 16px;">Detalhes da Vaga</h3>
            <a href="../" style="margin: 0; align-self: center;">Voltar para o Portal da Empresa</a>
            <div style="margin-left: auto; align-self: center;">
                <h4 style="margin: 0; align-self: center;">{{ nome }} | <a href="../logout">Sair</a></h4>
            </div>
        </div>

        <div class="container" style="display: flex; flex-direction: column; align-items: center;">

            <table class="styled-table" style="margin-bottom: 48px; margin-top: 16px;">
                <colgroup span="2"></colgroup>
                <thead>
                    <tr>
                        <th colspan="2" scope="colgroup">Detalhes da Vaga:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nome da vaga:</td>
                        <td>{{ vaga.nome }}</td>
                    </tr>

                    <tr>
                        <td>Faixa salarial:</td>
                        <td>
                            {% if vaga.faixa_salarial == 1 %}
                                Até 1.000
                            {% elif vaga.faixa_salarial == 2 %}
                                De 1.000 a 2.000
                            {% elif vaga.faixa_salarial == 3 %}
                                De 2.000 a 3.000
                            {% else %}
                                Acima de 3.000
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>Escolaridade mínima:</td>
                        <td>
                            {% if vaga.escolaridade == 1 %}
                                Ensino fundamental
                            {% elif vaga.escolaridade == 2 %}
                                Ensino médio
                            {% elif vaga.escolaridade == 3 %}
                                Tecnólogo
                            {% elif vaga.escolaridade == 4 %}
                                Ensino Superior
                            {% elif vaga.escolaridade == 5 %}
                                Pós / MBA / Mestrado
                            {% else %}
                                Doutorado
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="styled-table" style="margin-bottom: 48px; margin-top: 16px;">
                <colgroup span="4"></colgroup>
                <thead>
                    <tr>
                        <th colspan="4" scope="colgroup">Candidatos:</th>
                    </tr>
                    <tr style="font-weight: 600; background-color: #5eb6db;">
                        <td>Nome:</td>
                        <td>Pretensão salarial:</td>
                        <td>Escolaridade:</td>
                        <td>Pontos:</td>
                    </tr>
                </thead>
                <tbody>
                    {% for candidatura in candidaturas %}
                        <tr>
                            <td>{{ candidatura.nome_do_candidato }}</td>
                            <td>{{ candidatura.pretensao_salarial }}</td>
                            <td>
                                {% if candidatura.escolaridade == 1 %}
                                    Ensino fundamental
                                {% elif candidatura.escolaridade == 2 %}
                                    Ensino médio
                                {% elif candidatura.escolaridade == 3 %}
                                    Tecnólogo
                                {% elif candidatura.escolaridade == 4 %}
                                    Ensino Superior
                                {% elif candidatura.escolaridade == 5 %}
                                    Pós / MBA / Mestrado
                                {% else %}
                                    Doutorado
                                {% endif %}
                            </td>
                            <td>
                                {{ candidatura.pontos }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        
    </body>
</html>