<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro da Empresa</title>
        <link rel="shortcut icon" href="../static/logo.png" type="image/png">
        <link type="text/css" rel="stylesheet" href="../static/my-styles.css">
        <link type="text/css" rel="stylesheet" href="../static/login.css">
    </head>
    <body>
        <div class="navbar">
            <img src="../static/logo.png" height="48" style="margin: 0 16px; align-self: center;">
            <h3 style="margin: 0; align-self: center; margin-right: 16px;">Cadastro da Empresa</h3>
            <a href="../" style="margin: 0; align-self: center;">Voltar para a Página Inicial</a>
            <div style="margin-left: auto; align-self: center;">
                <a href="../empresa">Login</a>
            </div>
        </div>

        <div class="container center">
            {% if cadastrado %}
                <h1>Você se cadastrou com sucesso!</h1>
                <p>Redirecionando você para o Portal da Empresa em <span id="seconds">3</span> segundos.</p>

            {% else %}
            
                {% if erro %}
                    <p style="color: red;">Esse e-mail já foi cadastrado.</p>
                {% endif %}
                <form style="text-align: center;" method="POST">{% csrf_token %}
                    <span>Nome da empresa: </span>
                    <input required type="text" name="nome"><br><br>
                    <span>E-mail: </span>
                    <input required type="email" name="email"><br><br>
                    <span>Senha: </span>
                    <input required type="password" name="senha"><br><br>
                    <input class="btn" type="submit">
                </form>

                <h3>Já tem uma conta? <a href="login">Login</a></h3>
            {% endif %}
        </div>
        <script src="../static/cadastro.js"></script>
    </body>
</html>