<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Portal da Empresa</title>
        <link rel="shortcut icon" href="../static/logo.png" type="image/png">
        <link type="text/css" rel="stylesheet" href="../static/my-styles.css">
        <link type="text/css" rel="stylesheet" href="../static/vaga.css">
    </head>
    <body>
        <div>
            <div class="navbar">
                <img src="../static/logo.png" height="48" style="margin: 0 16px; align-self: center;">
                <h3 style="margin: 0; align-self: center;">Portal da Empresa</h3>
                <div style="margin-left: auto; align-self: center;">
                    <h4 style="margin: 0; align-self: center;">{{ nome }} | <a href="../logout">Sair</a></h4>
                </div>
            </div>

            <div class="container">
                <h1 style="text-align: center; color: #02374e; margin-bottom: 16px;">Bem vindo, administrador da {{ nome }}</h1>
            
                <h2 style="color: #02374e; margin-bottom: 8px;">Suas vagas:</h2>

                <div class="vagas">
                    {% if not vaga1 %}
                        <a href="criar_vaga" style="text-decoration: none;">
                                <div class="vaga" style="display: flex; flex-direction: column; align-items: center; justify-content: center; border-style: dashed;">
                                <img style="margin-top: 16px;" src="../static/empresa/img/mais.png" height="60" width="60">
                                <h3 style="margin: 16px; text-align: center;">Você não criou nenhuma vaga ainda. Clique aqui para criar.</h3>
                            </div>
                        </a>
                    {% else %}
                        {% for vaga in vagas %}
                            <div class="vaga">
                                <div style="display: flex; margin-bottom: 16px;">
                                    <div style="width: 100%;">
                                        <div><h3 style="margin: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ vaga.nome }}</h3></div>
                                        <div style="display: flex; margin: 8px 0"><img style="margin-right: 8px;" src="../static/empresa/img/salario.png" height="18"><p style="margin: 0;">{{ vaga.faixa_salarial_original }}</p></div>
                                        <div style="display: flex;"><img style="margin-right: 8px;" src="../static/empresa/img/escolaridade.png" height="18"><p style="margin: 0;">{{ vaga.escolaridade_original }}</p></div>
                                    </div>
                                    <div style="justify-self: right; text-align: center; margin-left: 48px;">
                                        <h3 style="margin: 0;">Número de</h3>
                                        <h3 style="margin: 0;">Candidatos:</h3>
                                        <h3 style="margin: 0;">{{ vaga.num_de_candidatos }}</h3>
                                    </div>
                                </div>

                                <div style="display: flex; margin-top: auto">
                                    <div style="justify-self: left; width: 100%;"><form action="detalhes_vaga" method="POST"> {% csrf_token %} <button class="vaga_button" id="detalhes" name="id_vaga" value="{{ vaga.id_vaga }}">Detalhes</button></form></div>
                                    <div style="justify-self: center; width: 100%;"><form action="editar_vaga" method="POST"> {% csrf_token %} <button class="vaga_button" id="editar" name="id_vaga" value="{{ vaga.id_vaga }}">Editar</button></form></div>
                                    <div style="justify-self: right;"><form action="deletar_vaga" method="POST"> {% csrf_token %} <button class="vaga_button" id="deletar" name="id_vaga" value="{{ vaga.id_vaga }}">Deletar</button></form></div>
                                </div>

                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div style="text-align: center; color: #02374e; margin-top: 8px">
                    <h2>Alguma oportunidade nova?</h2>
                    <a href="criar_vaga"><button class="btn">Criar vaga</button></a>
                </div>

            </div>
        </div>
    </body>
</html>