<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Página Inicial</title>
        </style>
        <link rel="stylesheet" href="static/my-styles.css">
        <link rel="shortcut icon" href="static/logo.png" type="image/png">
        <style>button { margin: 16px; }</style>
    </head>
    <body>
        <div class="navbar">
            <img src="static/logo.png" height="48" style="margin: 0 16px; align-self: center;">
            <h3 style="margin: 0; align-self: center;">Página Inicial</h3>
            <div style="margin-left: auto; align-self: center;">
                <a href="candidato">Login como Candidato</a> | <a href="empresa">Login como Empresa</a>
            </div>
        </div>

        <div class="container">
            <div class="center">
                <h1 style="margin: 0; color: #02374e; margin-bottom: 16px;">Bem vindo. Por favor faça login ou cadastre-se</h1>
                <div>
                    <a href="candidato"><button class="btn">Acessar como Candidato</button></a>
                    <a href="empresa"><button class="btn">Acessar como Empresa</button></a>
                </div>
            </div>
        </div>
        
    </body>
</html>