<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Login do Candidato</title>
        <link rel="shortcut icon" href="../static/logo.png" type="image/png">
        <link type="text/css" rel="stylesheet" href="../static/my-styles.css">
        <link type="text/css" rel="stylesheet" href="../static/login.css">
    </head>
    <body>
        <div class="navbar">
            <img src="../static/logo.png" height="48" style="margin: 0 16px; align-self: center;">
            <h3 style="margin: 0; align-self: center; margin-right: 16px;">Login do Candidato</h3>
            <a href="../" style="margin: 0; align-self: center;">Voltar para a Página Inicial</a>
            <div style="margin-left: auto; align-self: center;">
                <a href="../empresa">Login como Empresa</a>
            </div>
        </div>

        <div class="container center">
            <form method="POST" style="text-align: center;">{% csrf_token %}
                <span>E-mail: </span>
                <input required type="email" name="email"><br><br>
                <span>Senha: </span>
                <input required type="password" name="senha"><br>
                {% if invalid %}
                    <p style="margin-bottom: 0; color: red;">e-mail ou senha inválidos</p>
                {% elif empresa %}
                    <p style="margin-bottom: 0; color: red;">Você está tentando logar com um e-mail empresarial.<br>Para acessar o Login da Empresa, <a href="../empresa">Clique aqui</a></p>
                {% endif %}
                <div style="text-align: center;"><br><input class="btn" type="submit"></div>
            </form>
    
            <h3>Ainda não tem uma conta? <a href="cadastro">Cadastre-se</a></h3>
        </div>
        
    </body>
</html>